<!doctype html>
<html lang="pl" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Builder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('dist/css/main.min.css') }}">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('dist/js/app_lib.min.js') }}"></script>
    <script src="{{ asset('dist/js/app.min.js') }}"></script>
    <script>
        angular.module('app')
                .config(['RoutingProvider', 'UserConfigurationProvider', 'ConfigurationProvider',
                    function (routingProvider, userConfigurationProvider, configurationProvider) {
                        routingProvider.setRouting(Routing);
                        userConfigurationProvider
                                .setUserRole('{{ USER_ROLE }}')
                                .setUserId('{{ USER_ID }}')
                                .setUserToken('{{ USER_TOKEN }}')
                                .createUser();
                        configurationProvider.setDatabaseSocketUrl('{{ WS_DATABASES }}');
                        configurationProvider.setInstancesSocketUrl('{{ WS_INSTANCES }}');
                    }])
                .run(['ChangePasswordService', '$rootScope', '$urlRouter', '$state', function (changePasswordService, $rootScope, $urlRouter, $state) {
                    if ({{ showModal }}) {
                        var locationChangeSubscriber = $rootScope.$on('$stateChangeStart', function(evt) {
                            evt.preventDefault();
                        });

                        changePasswordService.showModal().then(function() {
                            locationChangeSubscriber();
                            $urlRouter.sync();
                            $state.go('app.project.dashboard');
                        });
                    } else {
                        $urlRouter.sync();
                        $state.go('app.project.dashboard');
                    }
                }]);
    </script>
</head>
<body>

<ui-view></ui-view>
</body>
</html>