<!doctype html>
<html lang="pl" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Builder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('dist/css/main.min.css') }}">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('dist/js/app_lib.min.js') }}"></script>
    <script src="{{ asset('dist/js/app.min.js') }}"></script>
    <script>
        angular.module('app')
                .config(['RoutingProvider', 'ConfigurationProvider', function (routingProvider, configurationProvider) {
                    routingProvider.setRouting(Routing);
                    configurationProvider.setUserRole('{{ USER_ROLE }}');
                }])
                .run(['ChangePasswordService', function(changePasswordService) {
                    if(false) {
                        changePasswordService.showModal();
                    }
                }]);
    </script>
</head>
<body>

<ui-view></ui-view>
</body>
</html>